body{
  margin: 0;
  padding: 0;
  background: url(../public/img/background.jpg);
  font-family: 'Ubuntu', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7em;
  margin: 30px 10px;
  background-color: rgb(175, 175, 192);
  padding: 10px;
  border-radius: 15px;
}

#content-container {
  background-color: rgb(175, 175, 192);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 30px 0px;
  padding: 10px 30px; 
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.input-holder {
  position: relative;
}

.input-holder i {
  position: absolute;
  top: 0.5em;
  right: 0;
}

#form-container .select-input{
  width: 50%;
}

#form-container .name-input{
  width: 95%;
}

#form-container .all {
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 10px ;
  border-radius: 7px;
  border: none;
  color: rgb(22, 44, 44);
  cursor: pointer;
}

#form-container label {
  font-size: 1.5em;
  font-weight: 600;
  margin: 10px 20px;
  color: rgb(43, 43, 88);
}

#form-container button{ 
  font-size: 1.2em;
  margin: 20px;
  padding: 5px 20px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  color: rgb(43, 43, 88);
  cursor: pointer;
}

#form-container button:hover{
 color: black;
 background-color: rgb(163, 161, 161);
}

.error{
  color: red;
}
input[type=checkbox]{
  width: 30px;
  height: 30px;
}